.tweet:hover {
    box-shadow: 0px 2px 8px rgba(201, 188, 188, 0.25);
  }
  
  .tweet:hover .icons i {
    color: #980caa;
  }

.tweet {
    display: flex;
    flex-direction: column;
    background-color: r#2e0455;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    margin-bottom: 10px;
  }
  
  .tweet header {
    display: flex;
    align-items: align-left;
    margin-bottom: 10px;
  }
  
  .tweet header img {
    width: 50px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .tweet header h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .tweet header span {
    margin-left: 10px;
    color: grey;
  }
  
  .tweet p {
    margin: 0;
    font-size: 1.1rem;
  }
  
  .tweet footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .tweet footer span {
    font-size: 0.9rem;
    color: grey;
  }
  
  .tweet .icons {
    display: flex;
    align-items: center;
  }
  
  .tweet .icons i {
    margin-right: 10px;
    color: grey;
    cursor: pointer;
  }
  
  .tweet .tweet-actions i:hover {
    color: #980caa;
  }

  .tweet .user-info {
    display: flex;
    align-items: center;
  }
  
 .tweet .avatar {
    margin-right: 10px;
  }
  
  .tweet.user-handle {
    margin-left: auto;
  }